<div class=" text-center bg-light" class="carousel-container" data-component="carousel" id="carousel">
    <section id="image-carousel" class="splide" aria-label="Beautiful Images">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <img src="/asset/images/banner/genz1.jpg" alt="">
                </li>

                <!-- <li class="splide__slide">
                    <img src="/asset/images/banner/genz2.jpg" alt="">
                </li>
                <li class="splide__slide">
                    <img src="/asset/images/banner/genz3.jpg" alt="">
                </li>
                <li class="splide__slide">
                    <img src="/asset/images/banner/genz4.jpg" alt="">
                </li> -->

                <li class="splide__slide" data-for="item of banners">
                    <img data-src="{{item.image}}" alt="">
                </li>


            </ul>
        </div>
    </section>
</div>