<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark d-md-block d-lg-none py-2" data-component="nav-bottom" id="nav-bottom">
    <!-- Container wrapper -->
    <div class="nav-bottom-content">
        <div class="bottom-nav-item-container rounded-circle">
            <a>
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
        <div class="bottom-nav-item-container rounded-circle">
            <a>
                <i class="fa fa-weixin"></i>
            </a>
        </div>
        <div class="bottom-nav-item-container rounded-circle">
            <a>
                <i class="fa fa-user"></i>
            </a>
        </div>
    </div>
    <!-- Container wrapper -->
</nav>