.spinner-container{
    display:grid;
    align-content: center;
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height: 100vh;
    background-color: rgba(254,254,254,0.2);
}

.splide__list img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

body>article.container-lg{
    padding-left:0;
    padding-right: 0;
}

@media (min-width: 300px) and (max-width: 991px)   { 
    .navbar-brand.middle {
        font-size:15px!important;
        padding:0;
        margin:0;
    }
    .navbar{
        position: fixed;
        z-index: 100;
        width: 100%;
    }

}

@media (min-width: 576px) { 
    .navbar-brand.middle {
        font-size:18px!important;
        padding:0;
        margin:0;
    }
}


@media (min-width: 768px) {
    .navbar-brand.middle {
        font-size:22px!important;
        padding:0;
        margin:0;
    }
}


@media (min-width: 992px) { 
    .navbar-brand.middle {
        font-size:22px!important;
        padding:0;
        margin:0;
    }
}


@media (min-width: 1200px) { }


@media (min-width: 1400px) {}

#carousel{
    padding-top:65px;
}


